<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>animal wiki</title>
	<link href="../css/styles.css" rel="stylesheet" type="text/css"  />
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#">ANIMALS</a></h1>
			</div>
			<div id="menu">
				<ul>
					<li class="current_page"><a href="#">Homepage</a></li>
					
				</ul>
			</div>
		</div>
		<div id="banner">
			<div class="content"><img src="../images/img02.jpg" width="1000" height="400" alt="" /></div>
		</div>
	</div>

	<div id="featured-content">
		<div id="column1">
			<h2>Lions</h2>
			<p><img src="../images/img06.jpg" width="300" height="150"  /></p>
			<p>The lion  is a species in the family Felidae; it is a muscular, deep-chested cat with a short, rounded head, a reduced ...</p>
			<p class="button"><a href="/pages/lion.html">Read More</a></p>
			
		</div>
		<div id="column2">
			<h2>Sharks</h2>
			<p><img src="../images/img07.jpg" width="300" height="150"  /></p>
			<p>Sharks are a group of elasmobranch fish characterized by a cartilaginous skeleton, five to seven gill slits on the sides...</p>
			<p class="button"><a href="/pages/shark.html">Read More</a></p>
		</div>
		<div id="column3">
			<h2>Elephants</h2>
			<p><img src="../images/img08.jpg" width="300" height="150"  /></p>
			<p>The elephants are the large mammals forming the family Elephantidae in the order Proboscidea.Three species are ...</p>
			<p class="button"><a href="/pages/elephant.html">Read More</a></p>
		</div>
	</div>

</body>
</html>